
$button-color: #ffa3d1;
$button-color-hover: #fd007f;

.center{
    display: grid;
    flex-direction: row;
    justify-items: center;
}

.button{
    width: 150px;
    height: 100px;
    color: white;
    border-radius: 5px;
    background-color: $button-color;
}

.button:hover{
    color: white;
    background-color: $button-color-hover;
}